/control/verbose 0
/run/verbose 0
/CDMS/verbose 0

# Configure lab
/CDMS/Lab NoLab 

/CDMS/Detector scdms
/CDMS/UseShield partial
/CDMS/Source gammaBe
/CDMS/GammaBe/Position -1.36988 +3.87342 0. cm 
/CDMS/GammaBe/RotZAngle 50 deg
#/CDMS/GammaBe/boxOffset 8.15 cm 
/CDMS/GammaBe/boxOffset BOXPOSITION cm 


#set up the particle generation
/CDMS/GammaBe/AddIsotope SOURCEZ SOURCEA ## Y-88
#/CDMS/GammaBe/AddIsotope 39 88 ## Y-88
#/CDMS/GammaBe/AddIsotope 51 124 ## Sb-124
/CDMS/GammaBe/Volume SourceCapsule

/CDMS/updateGeom

/CDMS/writeTrees TREEOUT		     # Do/Don't write ROOT files
/CDMS/writePrimaries PRIMOUT                 # Do/Don't write primaries to file
/CDMS/writeData DATAOUT                      # Do/Don't write text out file

# 
# NEVENTS events
#
/run/autoSeed true
/CDMS/writeFilePrefix /data/chocula/villaa/PhotoN_SuperSim/DATADIR/SOURCENAME_SetIDTHESETID_shiftBOXSHIFT_pNEVENTS_TIMEOFDAY 
/run/setRunID RUNNUMBER 
/run/beamOn NEVENTS 
